services:
  db:
    image: postgres:16-alpine
    container_name: satellite_tickets_db 
    environment:
      POSTGRES_DB: satellite_tickets 
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: postgres 
    
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - issue-net

  backend:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: issue_backend
    restart: unless-stopped
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=satellite_tickets;Username=postgres;Password=postgres"
    ports:
      - "8081:8080"
    networks:
      - issue-net

volumes:
  postgres_data:

networks:
  issue-net: